<!-- Whenever you generate a new component in Angular, it will -->
<!-- generate with a simple <p> sharing that it works: -->
<!-- (i.e. <p>profile works!</p>) -->

<div class="user-profile">
    <div class="user">
        <img src="../../../assets/image-jeremy.png" />
        <div class="user-details">
          <p>Report for</p>
          <ul class="name">
              <li>Jeremy</li>
              <li>Robson</li>
          </ul>
        </div>
    </div>
    <div>
        <ul class="navigation">
            <li>LINK TO DAILY</li>
            <li>LINK TO WEEKLY</li>
            <li>LINK TO MONTHLY</li>
        </ul>
    </div>
</div>
